name: tagpr

permissions: {}

on:
  push:
    branches: ["main"]

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 20
    steps:
    - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      id: app-token
      with:
        app-id: ${{ vars.TAGPR_GITHUB_APP_ID }}
        private-key: ${{ secrets.TAGPR_GITHUB_APP_PRIVATE_KEY }}
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ steps.app-token.outputs.token }}
        # persist-credentials: false
    - uses: Songmu/tagpr@7191605433b03e11b313dbbc0efb80185170de4b # v1.9.0
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
